@import '../../../colors.scss';

.modal-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

  p {
    font-size: 1.5rem;
    color: $white;
  }
}

.modal-element {
  width: 600px;
  height: auto;
  background-color: $white;
}

.element-data {
  display: flex;
  justify-content: center;
  align-items: center;

  .column {
    padding: 10px;
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;

    mat-icon {
      margin-right: 10px;
    }
  }
}

.element-data:nth-child(even) {
  background-color: $gray100;
}

::ng-deep.mat-dialog-container {
  background-color: $blue300;
}