<div class="elements">
  <div class="elements-filter">
    <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Start typing ..."
      >
    </mat-form-field>
  </div>
  <div class="elements-table-container mat-elevation-z8">
    <mat-table
      #table
      [dataSource]="dataSource"
      class="elements-table"
    >
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.symbol }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="atomic number">
        <mat-header-cell *matHeaderCellDef> Atomic number </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.atomicNumber }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="atomic mass">
        <mat-header-cell *matHeaderCellDef> Atomic mass </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.atomicMass }} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator
      class="elements-paginator"
      #paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true"
    >
    </mat-paginator>
  </div>
</div>