@import '../../../colors.scss';

.elements-container {
  margin: 10px 30px;
  width: auto;
  height: auto;
}

.elements-table-container {
  height: calc(100vh - 250px);
}

.elements-filter {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.elements-table {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.elements-table::-webkit-scrollbar {
  width: 12px;
}

.elements-table::-webkit-scrollbar-track {
  background-color: $gray200;
}

.elements-table::-webkit-scrollbar-thumb {
  background-color: $gray500;
}

.elements-paginator {
  margin-top: 20px;
}

mat-header-cell, mat-cell {
  justify-content: center;
}