<div class="elements-container">
  <div class="elements-filter">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="{{ search.placeholder }}"
        [(ngModel)]="search.value"
        (keyup)="applyFilter($event)"
      >
      <button
        *ngIf="search.value"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="search.value=''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="elements-table-container mat-elevation-z8">
    <mat-table
      #table
      [dataSource]="dataSource"
      class="elements-table"
    >
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> {{ displayedColumns[0] | columnFormat }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef> {{ displayedColumns[1] | columnFormat }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.symbol }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="atomic number">
        <mat-header-cell *matHeaderCellDef> {{ displayedColumns[2] | columnFormat }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.atomicNumber }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="atomic mass">
        <mat-header-cell *matHeaderCellDef> {{ displayedColumns[3] | columnFormat }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.atomicMass }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef> {{ displayedColumns[4] | columnFormat }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.state }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef> {{ displayedColumns[5] | columnFormat }} </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            (click)="openModal(element)"
          >
            <mat-icon>{{ settingsIcon }}</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

    </mat-table>
    <mat-paginator
      class="elements-paginator"
      #paginator
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      [showFirstLastButtons]="true"
    >
    </mat-paginator>
  </div>
</div>