@import '../../../colors.scss';

.elements-container {
  width: auto;
  height: calc(100% - 140px);
  margin: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.elements-filter {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
}

.elements-table {
  width: 100%;
  height: calc(100% - 60px);
  overflow-y: auto;
}

.elements-table::-webkit-scrollbar {
  width: 8px;
}

.elements-table::-webkit-scrollbar-thumb {
  background-color: $gray500;
  border-radius: 20px;
}

mat-header-cell, mat-cell {
  justify-content: center;
}