@import '../../../colors.scss';

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  border-bottom: 2px solid $gray100;
  background-color: $white;
}

.navbar-link {
  margin: 0 1rem;
  border: 1px solid $gray200;
  background-color: $white;
  color: $black;
  transition: 0.2s;

  &:hover {
    background-color: $blue700;
    color: $white;
  }
}

::ng-deep .mat-icon {
  width: 24px !important;
  font-size: 22px !important;
}