$white: #FFFFFF;
$black: #000000;

$gray100: #EEEEEE;
$gray200: #D3D3D3;
$gray300: #AEAEAE;
$gray400: #8B8B81;
$gray500: #7E7E7E;
$gray600: #696969;
$gray700: #525252;
$gray800: #3A3B3C;
$gray900: #181818;

$blue100: #BCD9EA;
$blue200: #8BBDD9;
$blue300: #5BA4CF;
$blue400: #298FCA;
$blue500: #0079BF;
$blue600: #026AA7;
$blue700: #055A8C;
$blue800: #094C72;
$blue900: #0C3953;

$green100: #C8E6C9;
$green200: #A5D6A7;
$green300: #81C784;
$green400: #66BB6A;
$green500: #4CAF50;
$green600: #43A047;
$green700: #388E3C;
$green800: #2E7D32;
$green900: #1B5E20;