$white: #FFFFFF;
$black: #000000;

$gray100: #EEEEEE;
$gray200: #D3D3D3;
$gray300: #AEAEAE;
$gray400: #8B8B81;
$gray500: #7E7E7E;
$gray600: #696969;
$gray700: #525252;
$gray800: #3A3B3C;
$gray900: #181818;