@import '../../../colors.scss';

.spinner-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner ::ng-deep circle {
  stroke: $gray500;
}