@import '../../../colors.scss';

.spinner-container {
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner-label {
  position: relative;
  top: -110px;
  left: 0;
  font-size: 1.2rem;
  color: $gray500;
}

::ng-deep.spinner circle {
  stroke: $gray500;
}